<p>質問一覧</p>
<div class="tab-menu">

  <ul>
    <li id="left" class="selected">言語</li>
    <li id="right">祭事</li>
    <!-- <li>風習</li> -->
  </ul>
  <% @questions.each do |question| %>
  <div class="contents">
    <% if question.category == 1 %>
    <div class="left">
      <%= render :partial => "question", :locals => { question: question } %>

    </div>
    <% end %>

    <% if question.category == 2 %>
    <div class="right">
      <%= render :partial => "question", :locals => { question: question } %>
    </div>
    <% end %>

  </div>
  <% end %>
</div>

<br/>
<%= paginate(@questions) %></br>
<a href="questions/new">質問を投稿する</a><br/><br/>
