<%= form_tag('/questions', method: :post) do %>
  <p>質問</p>
  <textarea cols="30" rows="10" type="textarea" name="question" placeholder="質問を書いてください" =""></textarea><br/>
  <input type="submit" value="投稿">
<% end %>
